@font-face {
  font-family: 'GothamBook';
  src: url("./GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook.woff") format("woff"), url("./GothamBook.ttf") format("truetype"); }

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10146">Text with this font applied</p> */
.fontsforweb_fontid_10146 {
  font-family: 'GothamBook' !important; }

/* Font downloaded from FontsForWeb.com */
@font-face {
  font-family: 'gothambold1';
  src: url("./gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold1.woff") format("woff"), url("./gothambold1.ttf") format("truetype"); }

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
  font-family: 'gothambold1' !important; }

/* Font downloaded from FontsForWeb.com */
@font-face {
  font-family: 'Gotham-medium';
  src: url("./GothamBook.eot");
  src: local("GothamBook"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("./GothamBook.ttf") format("truetype"); }

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
  font-family: 'Gotham-medium' !important; }

/* Font downloaded from FontsForWeb.com */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Gotham-medium' !important; }

h1 {
  font-family: 'gothambold1' !important;
  font-size: 80px;
  text-transform: uppercase;
  color: #fff; }

h2 {
  font-size: 44px;
  text-transform: uppercase; }

h4 {
  font-family: 'GothamBook' !important;
  text-transform: uppercase;
  letter-spacing: 3px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  font-family: 'GothamBook' !important;
  font-size: 18px; }

.grid {
  width: 1170px;
  margin: 0 auto;
  text-align: center; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
/* Dots */
.slick-dots {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider-dot {
  display: block;
  width: 10px;
  height: 10px;
  margin: 20px 0;
  border-radius: 50%;
  border: 2px solid #fff; }
  .slick-active .slider-dot {
    background-color: #fff; }

.link {
  position: absolute;
  bottom: 15%;
  padding: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 1; }
  .link-conteiner {
    padding-bottom: 140px; }

.banner-wrapper {
  position: relative;
  height: 110vh; }

.title {
  position: absolute;
  top: 40%;
  left: 25%;
  z-index: 3; }

.description {
  position: absolute;
  top: 55%;
  left: 33%;
  z-index: 4;
  font-size: 18px;
  font-weight: 300;
  color: #fff; }

.slider {
  width: 100%; }

.logo {
  margin-right: 89px; }

.dots {
  position: absolute;
  top: 50%;
  right: 2%;
  margin: 0;
  z-index: 6; }

.slider-conteiner {
  position: relative;
  margin-top: -5px;
  padding: 0px;
  background-color: #fff; }

.slider-picture {
  width: 100%; }

.content-conteiner {
  padding: 20px; }

.slider-title {
  margin-bottom: 20px;
  font-size: 22px;
  text-transform: uppercase; }

.slider-description {
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif; }

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.avatar {
  margin-right: 20px; }

.name {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase; }

.data {
  color: #55b7ff; }

.arrowPrew {
  position: absolute;
  top: 35%;
  left: -7%;
  padding: 20px 25px;
  background-color: transparent;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff; }

.arrowNext {
  position: absolute;
  top: 35%;
  right: -7%;
  padding: 20px 25px;
  background-color: transparent;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff; }

/*
.dots-two-slider {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10000;
}
*/
.dot_two {
  position: absolute;
  bottom: 10%;
  left: 60%; }

.dot_two .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0 10px; }

.dot_two .slider-dot {
  margin: 0 30px; }

.map {
  height: 700px; }

.header {
  position: absolute;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  z-index: 2; }

.nav {
  margin-right: 85px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .nav__item:not(:last-child) {
      margin-right: 65px; }
  .nav__link {
    text-transform: uppercase;
    color: #fff; }
  .nav__point {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50%; }

.active {
  background-color: #fff; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.social__item:not(:last-child) {
  margin-right: 20px; }

.social__link {
  padding: 10px 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff; }

.what-we-do__title {
  position: relative;
  margin-bottom: 160px;
  padding-top: 138px; }
  .what-we-do__title::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 35%;
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000;
    z-index: 10; }
  .what-we-do__title--margin {
    margin-bottom: 60px;
    padding-top: 88px; }

.what-we-do__row {
  margin-bottom: 140px;
  text-align: left; }
  .what-we-do__row:not(:last-child) {
    margin-bottom: 210px; }

.what-we-do__col--banner {
  position: relative;
  padding-right: 70px;
  z-index: 1; }
  .what-we-do__col--banner::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -40%;
    display: block;
    width: 585px;
    height: 470px;
    background-color: #55b7ff;
    z-index: -10; }
  .what-we-do__col--banner-1 {
    position: relative;
    padding-left: 70px; }
    .what-we-do__col--banner-1::after {
      content: "";
      position: absolute;
      top: -20%;
      right: -40%;
      display: block;
      width: 585px;
      height: 470px;
      background-color: #7e5aff;
      z-index: -5; }

.what-we-do__col--new-york {
  padding-right: 60px; }

.what-we-do__description {
  padding-top: 56px; }

.what-we-do__centers {
  margin-bottom: 40px;
  padding-top: 15px; }

.what-we-do__info {
  margin-bottom: 40px;
  line-height: 25px; }

.what-we-do__link {
  padding: 18px 40px;
  text-transform: uppercase;
  color: #2c4058;
  border: 1px solid #2c4058; }

.what-we-do__adres {
  display: block;
  padding-top: 70px;
  font-family: 'Open Sans', serif;
  font-style: italic; }

.latest-news {
  position: relative;
  background-image: url(../img/Bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .latest-news__row {
    padding-bottom: 200px;
    text-align: left; }
  .latest-news__title {
    position: relative;
    margin-bottom: 160px;
    padding-top: 138px;
    color: #fff; }
    .latest-news__title::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 35%;
      display: block;
      width: 100px;
      height: 2px;
      background-color: #fff;
      z-index: 10; }

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.gallery__row {
  margin-bottom: 60px; }

.gallery__col {
  margin-right: 10px; }

.gallery__img {
  padding-right: 10px;
  padding-bottom: 10px; }

.section-form {
  position: absolute;
  bottom: 30%;
  right: 28%;
  width: 770px;
  padding: 40px;
  padding-top: 0;
  margin: 0 auto;
  background-image: url("../img/bg-form2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10; }
  .section-form__conteiner {
    position: relative; }
  .section-form__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    text-align: left; }
  .section-form__info {
    padding-bottom: 40px;
    font-size: 18px; }
  .section-form__input {
    width: 100%;
    margin-bottom: 35px;
    padding-bottom: 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #2c4058; }
  .section-form__submit {
    margin-left: 170px;
    padding: 20px 40px;
    font-size: 18px;
    color: #2c4058;
    background: transparent;
    border: 2px solid #2c4058; }

.purple {
  color: #7e5aff; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin-bottom: 45px;
  padding-top: 210px; }
  .footer-banner {
    position: relative;
    background-image: url("../img/footer-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .footer__description {
    display: inline-block;
    padding-bottom: 210px;
    font-size: 14px;
    color: #fff; }
    .footer__description:not(:last-child)::after {
      content: "|";
      display: inline-block;
      margin: 0 20px; }

.grid-footer {
  width: 770px;
  margin: 0 auto;
  padding: 0 40px; }
