@font-face {
	font-family: 'GothamBook';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('../fonts/GothamBook.woff') format('woff'), url('./GothamBook.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10146">Text with this font applied</p> */
.fontsforweb_fontid_10146 {
	font-family: 'GothamBook' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'gothambold1';
	src: url('./gothambold1.eot');
	src: local('gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('./gothambold1.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
	font-family: 'gothambold1' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'Gotham-medium';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('./GothamBook.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
	font-family: 'Gotham-medium' !important;
}

/* Font downloaded from FontsForWeb.com */